* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.swal2-confirm {
    background-color: #274372 !important; /* Cambia esto al color que desees */
    color: #FFF !important; /* Color del texto */
}
